html, body {
  font-family: Arial, Sans-Serif;
  font-size: 18px;
  color: #FFF;
  background: green;
  margin: 0px;
  padding: 0px;
}

a {
  color: #385C85;
  text-decoration: none;
}

#head {
  width: 100%;
  height: 1px;
  color: #FFF;
  position: relative;
}
